{% extends "voting/base.html" %}
{% block content %}
{% load socialaccount %}
{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap">
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    background: #1abc9c;
    overflow: hidden;
  }
  ::selection {
    background: rgba(26, 188, 156, 0.3);
  }
  .container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
  }
  .wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
  }
  .wrapper .title {
    height: 90px;
    background: #16a085;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form {
    padding: 30px 25px 25px 25px;
  }
  .wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  form .row input:focus {
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
  }
  form .row input::placeholder {
    color: #999;
  }
  .wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form .pass {
    margin: -8px 0 20px 0;
  }
  .wrapper form .pass a {
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
  }
  .wrapper form .pass a:hover {
    text-decoration: underline;
  }
  .wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
  }
  form .button input:hover {
    background: #12876f;
  }
  .wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  .wrapper form .signup-link a {
    color: #16a085;
    text-decoration: none;
  }
  form .signup-link a:hover {
    text-decoration: underline;
  }
  .google-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #34a853;  /* Green background */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0 auto;  /* Centers the button horizontally */
    display: block;  /* Make it a block element for centering */
    text-align: center;  /* Center the text */
}

.google-btn:hover {
    background-color: #2c8a47;  /* Darker green on hover */
}

.google-btn svg {
    width: 20px;  /* Adjust size of the logo */
    height: 20px;
    margin-right: 10px; /* Space between icon and text */
}

.google-btn span {
    margin-left: 10px;
}

</style>

<div class="container">
  <div class="wrapper">
    <div class="title">
      {% comment %} <img src="{% static 'logo/comelec_logo.png' %}" width="80" height="80"> {% endcomment %}
      <br><br><br><br>
      <span>Login</span>
    </div>
    <form action="{% url 'account_login' %}" method="POST">
      {% csrf_token %}
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" class="form-control" name="username" placeholder="username" required>
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
      </div>
      <div class="row button">
        <input type="submit" value="Login">
      </div>

      <a href="{% provider_login_url 'google' %}" class="google-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
          <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
        </svg>
        <span class="ms-2 fs-6">Login with Google</span>
      </a>


    </form>

    


    </a>
  </div>
</div>

{% endblock content %}
